.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 10% auto;
}

.Form h1 {
  font-size: 3.5rem;
}

.Form .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.Input {
  width: 100%;
  font-size: 2.5rem;
  margin-right: 30px;
  color: white;
  background: transparent;
  border: none;
  box-shadow: none;
}

.Input:focus {
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .Form .row {
    flex-direction: column;
    margin-bottom: 0;
  }
  .Form .row input {
    margin: 0;
    margin-bottom: 10px;
  }
}
