.codice-fiscale {
  background: transparent;
  box-shadow: none;
  border: none;
  width: 100%;
  font-size: 8vw;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.codice-fiscale {
  border: none;
  outline: none;
}

@media (max-width: 576px) {
  .codice-fiscale {
    font-size: 2.2rem;
  }
}
