.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 4.5rem;
  text-align: center;
  // font-size: 4.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  &.is_ready {
    color: #323232;
  }
}

@media (max-width: 850px) {
  .input {
    font-size: 8vw !important;
  }
}
// @media (max-width: 750px) {
//   .input {
//     font-size: 3.5rem;
//   }
// }

.icon {
  position: absolute;
  top: 0;
  right: 0;
}
